.root:global(.__wab_instance) {
  background: #bafe68;
  color: #002400;
  position: relative;
  border-radius: 16px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-UY9kPePLUyPt);
  outline-offset: 1px;
  outline-color: var(--token--V1yrEhoM54H);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-k9S6aoU5yEYG);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-imsJTMxLHqiB);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-F3L424YbQ3i4);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-cq5K3d22gWtV);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-IQAnn5MeydGo);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-SUsZgSMpfzVV);
  font-size: var(--token-kJyGp0Dc5L5n);
  column-gap: var(--token-UY9kPePLUyPt);
  row-gap: 0px;
  border-radius: var(--token-BY_Q0dspL3Z5);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-kJyGp0Dc5L5n);
  line-height: var(--token-SUsZgSMpfzVV);
  column-gap: var(--token-BY_Q0dspL3Z5);
  row-gap: 0px;
  border-radius: var(--token-BY_Q0dspL3Z5);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-JJChWPPhfZHS);
  line-height: var(--token-ZTnFSm4TIlCF);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-JJChWPPhfZHS);
  line-height: var(--token-ZTnFSm4TIlCF);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-ynHHyUnMXQNp);
  border-radius: var(--token-3vHL5jnFZTmZ);
}
.softBackgroundcolor_neutral {
  background: var(--token-tWQ63f0NkYS8);
}
.softBackgroundcolor_muted {
  background: var(--token-2WBfCSZKGd3h);
}
.softBackgroundcolor_success {
  background: var(--token-XJXhy7PR_z3G);
}
.softBackgroundcolor_warning {
  background: var(--token-TDDRkhzb6bbC);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-o4aW-UEuYVU4);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-3vHL5jnFZTmZ);
  border: 0px solid var(--token-ueS_4VuJJaiW);
}
.bordercolor_neutral {
  border-color: var(--token-i_V0Y-DBiYvw);
}
.bordercolor_muted {
  border-color: var(--token-N4ItCHu287AS);
}
.bordercolor_success {
  border-color: var(--token-eppNlIZlPfr7);
}
.bordercolor_warning {
  border-color: var(--token-u2H6QsXT0tR3);
}
.bordercolor_errorDestructive {
  border-color: var(--token-6AA0KBhuHm-X);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-3vHL5jnFZTmZ);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-D4Wy5Piixyl8);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-z0rSKy_8OkYp);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-_T_Uje23l_Nn);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__smEYm {
  display: flex;
  width: 100%;
  height: 100%;
  background: #bbfe68;
  min-width: 0;
  min-height: 0;
  padding: var(--token-3vHL5jnFZTmZ) var(--token-6E_dkwkzSygq);
}
.freeBox__smEYm > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-3vHL5jnFZTmZ));
  width: calc(100% + var(--token-3vHL5jnFZTmZ));
}
.freeBox__smEYm > :global(.__wab_flex-container) > *,
.freeBox__smEYm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__smEYm > :global(.__wab_flex-container) > picture > img,
.freeBox__smEYm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3vHL5jnFZTmZ);
}
.freeBoxsize_extraSmall__smEYmHgKbs {
  padding: var(--token-BY_Q0dspL3Z5) var(--token-3vHL5jnFZTmZ);
}
.freeBoxsize_small__smEYmZ70Ps {
  padding: var(--token-3vHL5jnFZTmZ) var(--token-59Hq8h0iWXrB);
}
.freeBoxsize_large__smEYmQdx94 {
  padding-top: var(--token-BY_Q0dspL3Z5);
  padding-bottom: var(--token-BY_Q0dspL3Z5);
}
.freeBoxsize_extraLarge__smEYmAvmKh {
  padding-left: var(--token-nKoNI3RzPDCD);
  padding-right: var(--token-nKoNI3RzPDCD);
}
.freeBoxroundedFull__smEYmDs7XC {
  padding-right: var(--token-nKoNI3RzPDCD);
  padding-left: var(--token-nKoNI3RzPDCD);
}
.freeBox__em9G2 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__em9G2LqsZ {
  display: flex;
}
.slotTargetStart {
  color: var(--token-XkcIRFBUIQDs);
}
.slotTargetStartcolor_neutral {
  color: var(--token-MqZ3sYlfZ07n);
}
.slotTargetStartcolor_muted {
  color: var(--token-y6fK-UOz-dGH);
}
.slotTargetStartcolor_success {
  color: var(--token-MTwpjHCCR5XQ);
}
.slotTargetStartcolor_warning {
  color: var(--token-CqwqDg6mm2Rp);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-d7xQfDFpXeNO);
}
.slotTargetStarttype_soft {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetStarttype_bordered {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetStartsize_small {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetStartsize_large {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-nHr7X1Z2gUuB);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-nHr7X1Z2gUuB);
}
.svg__bKfaF {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-XkcIRFBUIQDs);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-MqZ3sYlfZ07n);
}
.slotTargetLabelcolor_muted {
  color: var(--token-y6fK-UOz-dGH);
}
.slotTargetLabelcolor_success {
  color: var(--token-MTwpjHCCR5XQ);
}
.slotTargetLabelcolor_warning {
  color: var(--token-CqwqDg6mm2Rp);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-d7xQfDFpXeNO);
}
.slotTargetLabeltype_soft {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetLabeltype_bordered {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-nHr7X1Z2gUuB);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-nHr7X1Z2gUuB);
}
.text__zr0ME {
  white-space: pre;
}
.freeBox__mnnn5 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__mnnn5G9ZQp {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-XkcIRFBUIQDs);
}
.slotTargetEndcolor_neutral {
  color: var(--token-MqZ3sYlfZ07n);
}
.slotTargetEndcolor_muted {
  color: var(--token-y6fK-UOz-dGH);
}
.slotTargetEndcolor_success {
  color: var(--token-MTwpjHCCR5XQ);
}
.slotTargetEndcolor_warning {
  color: var(--token-CqwqDg6mm2Rp);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-d7xQfDFpXeNO);
}
.slotTargetEndtype_soft {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetEndtype_bordered {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetEndsize_small {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetEndsize_large {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-nHr7X1Z2gUuB);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-nHr7X1Z2gUuB);
}
.svg__jmbk7 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
