@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=DM+Sans%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-_-vbLayEJRsw: 1px;
  --plasmic-token-unnamed-style-token: var(--token-_-vbLayEJRsw);
  --token-xfCcD0yY9T0z: var(--token-OJSN3W0Myvht);
  --plasmic-token-size-32: var(--token-xfCcD0yY9T0z);
  --token-dvG6wyumbmS0: var(--token-0tl2H1TRPHhV);
  --plasmic-token-size-16: var(--token-dvG6wyumbmS0);
  --token-59Hq8h0iWXrB: var(--token-cfon0PHiXQoL);
  --plasmic-token-size-8: var(--token-59Hq8h0iWXrB);
  --token-_Hh3Ry6vaJNA: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-_Hh3Ry6vaJNA);
  --token-BY_Q0dspL3Z5: var(--token-RuQNZpYm0Yds);
  --plasmic-token-size-4: var(--token-BY_Q0dspL3Z5);
  --token-nKoNI3RzPDCD: var(--token-PKf5XaFatup3);
  --plasmic-token-size-12: var(--token-nKoNI3RzPDCD);
  --token-BL89_XMR-RdQ: var(--token-ekJK2BNXfyOR);
  --plasmic-token-size-24: var(--token-BL89_XMR-RdQ);
  --token-JJChWPPhfZHS: 1.25rem;
  --plasmic-token-font-lg: var(--token-JJChWPPhfZHS);
  --token-uqUcyTUgvV0c: #ffffff;
  --plasmic-token-basic-container-background: var(--token-uqUcyTUgvV0c);
  --token--V1yrEhoM54H: #2563eb;
  --plasmic-token-brand-brand: var(--token--V1yrEhoM54H);
  --token-iPHCqhfXwTyN: Inter;
  --plasmic-token-sans-serif: var(--token-iPHCqhfXwTyN);
  --token-aRuWp9ICGc-Q: 1rem;
  --plasmic-token-font-md: var(--token-aRuWp9ICGc-Q);
  --token-QTSTTNIaGHpG: 1.25;
  --plasmic-token-line-height-md: var(--token-QTSTTNIaGHpG);
  --token-3vHL5jnFZTmZ: var(--token-c8-rjzKYORFj);
  --plasmic-token-size-6: var(--token-3vHL5jnFZTmZ);
  --token-k9S6aoU5yEYG: #374151;
  --plasmic-token-neutral-neutral: var(--token-k9S6aoU5yEYG);
  --token-IQAnn5MeydGo: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-IQAnn5MeydGo);
  --token-imsJTMxLHqiB: #6b7280;
  --plasmic-token-muted-muted: var(--token-imsJTMxLHqiB);
  --token-kJyGp0Dc5L5n: 0.75rem;
  --plasmic-token-font-sm: var(--token-kJyGp0Dc5L5n);
  --token-SUsZgSMpfzVV: 1;
  --plasmic-token-line-height-sm: var(--token-SUsZgSMpfzVV);
  --token-ZTnFSm4TIlCF: 1.4;
  --plasmic-token-line-height-lg: var(--token-ZTnFSm4TIlCF);
  --token-UY9kPePLUyPt: var(--token-IUVIp1DHBSFd);
  --plasmic-token-size-2: var(--token-UY9kPePLUyPt);
  --token-F3L424YbQ3i4: #16a34a;
  --plasmic-token-success-success: var(--token-F3L424YbQ3i4);
  --token-cq5K3d22gWtV: #facc15;
  --plasmic-token-warning-warning: var(--token-cq5K3d22gWtV);
  --token-ynHHyUnMXQNp: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-ynHHyUnMXQNp);
  --token-tWQ63f0NkYS8: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-tWQ63f0NkYS8);
  --token-2WBfCSZKGd3h: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-2WBfCSZKGd3h);
  --token-XJXhy7PR_z3G: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-XJXhy7PR_z3G);
  --token-TDDRkhzb6bbC: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-TDDRkhzb6bbC);
  --token-o4aW-UEuYVU4: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-o4aW-UEuYVU4);
  --token-ueS_4VuJJaiW: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-ueS_4VuJJaiW);
  --token-i_V0Y-DBiYvw: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-i_V0Y-DBiYvw);
  --token-N4ItCHu287AS: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-N4ItCHu287AS);
  --token-eppNlIZlPfr7: #86efac;
  --plasmic-token-success-success-border: var(--token-eppNlIZlPfr7);
  --token-u2H6QsXT0tR3: #fde047;
  --plasmic-token-warning-warning-border: var(--token-u2H6QsXT0tR3);
  --token-6AA0KBhuHm-X: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-6AA0KBhuHm-X);
  --token-D4Wy5Piixyl8: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-D4Wy5Piixyl8);
  --token-z0rSKy_8OkYp: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-z0rSKy_8OkYp);
  --token-_T_Uje23l_Nn: #00000033;
  --plasmic-token-interaction-pressed: var(--token-_T_Uje23l_Nn);
  --token-6E_dkwkzSygq: var(--token-vINZR3MlEOSB);
  --plasmic-token-size-10: var(--token-6E_dkwkzSygq);
  --token-XkcIRFBUIQDs: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-XkcIRFBUIQDs);
  --token-MqZ3sYlfZ07n: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-MqZ3sYlfZ07n);
  --token-y6fK-UOz-dGH: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-y6fK-UOz-dGH);
  --token-DSLgD-95Qw2O: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-DSLgD-95Qw2O);
  --token-CqwqDg6mm2Rp: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-CqwqDg6mm2Rp);
  --token-MTwpjHCCR5XQ: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-MTwpjHCCR5XQ);
  --token-d7xQfDFpXeNO: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-d7xQfDFpXeNO);
  --token-Qaluro99C1Z2: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-Qaluro99C1Z2);
  --token-npCVKKop52sN: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-npCVKKop52sN);
  --token-Mu3oSmFklXBV: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-Mu3oSmFklXBV);
  --token-nHr7X1Z2gUuB: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-nHr7X1Z2gUuB
  );
  --token-KO-_a_AX48hg: #d1d5db;
  --plasmic-token-basic-border: var(--token-KO-_a_AX48hg);
  --token-ceD1eQOG2geq: #030712;
  --plasmic-token-basic-text-primary: var(--token-ceD1eQOG2geq);
  --token-vE7ENHhK130K: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-vE7ENHhK130K);
  --token-smN_UkZiNmlq: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-smN_UkZiNmlq);
  --token-3qu294j6Zo_Y: #9ca3af;
  --plasmic-token-basic-ring: var(--token-3qu294j6Zo_Y);
  --token-38tKZL0OGNZn: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-38tKZL0OGNZn);
  --token-5Q3utKadeUb3: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-5Q3utKadeUb3);
  --token-z7lbSBcm72mI: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-z7lbSBcm72mI);
  --token-OIYWLyLPYWym: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-OIYWLyLPYWym);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-wvrN6qTZTx0r_font-family: "Inter", sans-serif;
  --mixin-wvrN6qTZTx0r_font-size: 16px;
  --mixin-wvrN6qTZTx0r_font-weight: 400;
  --mixin-wvrN6qTZTx0r_font-style: normal;
  --mixin-wvrN6qTZTx0r_color: #535353;
  --mixin-wvrN6qTZTx0r_text-align: left;
  --mixin-wvrN6qTZTx0r_text-transform: none;
  --mixin-wvrN6qTZTx0r_line-height: 1.5;
  --mixin-wvrN6qTZTx0r_letter-spacing: normal;
  --mixin-wvrN6qTZTx0r_white-space: pre-wrap;
  --mixin-wvrN6qTZTx0r_user-select: text;
  --mixin-wvrN6qTZTx0r_text-decoration-line: none;
  --mixin-wvrN6qTZTx0r_text-overflow: clip;
  --mixin-1-EG1vyUAJjP_color: #000000;
  --mixin-1-EG1vyUAJjP_font-weight: 700;
  --mixin-1-EG1vyUAJjP_font-size: 64px;
  --mixin-1-EG1vyUAJjP_line-height: 1;
  --mixin-1-EG1vyUAJjP_letter-spacing: -1px;
  --mixin-1-EG1vyUAJjP_white-space: pre-wrap;
  --mixin-x_qO63GBB6iq_color: #000000;
  --mixin-x_qO63GBB6iq_font-size: 48px;
  --mixin-x_qO63GBB6iq_font-weight: 700;
  --mixin-x_qO63GBB6iq_letter-spacing: -0.5px;
  --mixin-x_qO63GBB6iq_line-height: 1.1;
  --mixin-x_qO63GBB6iq_white-space: pre-wrap;
  --mixin-KHspkmzfVEFl_color: #0070f3;
  --mixin-KHspkmzfVEFl_white-space: pre-wrap;
  --mixin-AULnqe-Fp3AK_color: #000000;
  --mixin-AULnqe-Fp3AK_font-size: 32px;
  --mixin-AULnqe-Fp3AK_font-weight: 600;
  --mixin-AULnqe-Fp3AK_line-height: 1.2;
  --mixin-AULnqe-Fp3AK_white-space: pre-wrap;
  --mixin-RFg81wfSKnYq_color: #000000;
  --mixin-RFg81wfSKnYq_font-size: 24px;
  --mixin-RFg81wfSKnYq_font-weight: 600;
  --mixin-RFg81wfSKnYq_line-height: 1.3;
  --mixin-RFg81wfSKnYq_white-space: pre-wrap;
  --mixin-7hA0zNQeSXQw_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7hA0zNQeSXQw_border-bottom-color: #dddddd;
  --mixin-7hA0zNQeSXQw_border-bottom-style: solid;
  --mixin-7hA0zNQeSXQw_border-bottom-width: 1px;
  --mixin-7hA0zNQeSXQw_border-left-color: #dddddd;
  --mixin-7hA0zNQeSXQw_border-left-style: solid;
  --mixin-7hA0zNQeSXQw_border-left-width: 1px;
  --mixin-7hA0zNQeSXQw_border-right-color: #dddddd;
  --mixin-7hA0zNQeSXQw_border-right-style: solid;
  --mixin-7hA0zNQeSXQw_border-right-width: 1px;
  --mixin-7hA0zNQeSXQw_border-top-color: #dddddd;
  --mixin-7hA0zNQeSXQw_border-top-style: solid;
  --mixin-7hA0zNQeSXQw_border-top-width: 1px;
  --mixin-7hA0zNQeSXQw_border-bottom-left-radius: 3px;
  --mixin-7hA0zNQeSXQw_border-bottom-right-radius: 3px;
  --mixin-7hA0zNQeSXQw_border-top-left-radius: 3px;
  --mixin-7hA0zNQeSXQw_border-top-right-radius: 3px;
  --mixin-7hA0zNQeSXQw_font-family: "Inconsolata";
  --mixin-7hA0zNQeSXQw_padding-bottom: 1px;
  --mixin-7hA0zNQeSXQw_padding-left: 4px;
  --mixin-7hA0zNQeSXQw_padding-right: 4px;
  --mixin-7hA0zNQeSXQw_padding-top: 1px;
  --mixin-7hA0zNQeSXQw_white-space: pre-wrap;
  --mixin-a3CyN7hhxyck_border-left-color: #dddddd;
  --mixin-a3CyN7hhxyck_border-left-style: solid;
  --mixin-a3CyN7hhxyck_border-left-width: 3px;
  --mixin-a3CyN7hhxyck_color: #888888;
  --mixin-a3CyN7hhxyck_padding-left: 10px;
  --mixin-a3CyN7hhxyck_white-space: pre-wrap;
  --mixin-DIJf_FofnABB_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-DIJf_FofnABB_border-bottom-color: #dddddd;
  --mixin-DIJf_FofnABB_border-bottom-style: solid;
  --mixin-DIJf_FofnABB_border-bottom-width: 1px;
  --mixin-DIJf_FofnABB_border-left-color: #dddddd;
  --mixin-DIJf_FofnABB_border-left-style: solid;
  --mixin-DIJf_FofnABB_border-left-width: 1px;
  --mixin-DIJf_FofnABB_border-right-color: #dddddd;
  --mixin-DIJf_FofnABB_border-right-style: solid;
  --mixin-DIJf_FofnABB_border-right-width: 1px;
  --mixin-DIJf_FofnABB_border-top-color: #dddddd;
  --mixin-DIJf_FofnABB_border-top-style: solid;
  --mixin-DIJf_FofnABB_border-top-width: 1px;
  --mixin-DIJf_FofnABB_border-bottom-left-radius: 3px;
  --mixin-DIJf_FofnABB_border-bottom-right-radius: 3px;
  --mixin-DIJf_FofnABB_border-top-left-radius: 3px;
  --mixin-DIJf_FofnABB_border-top-right-radius: 3px;
  --mixin-DIJf_FofnABB_font-family: "Inconsolata";
  --mixin-DIJf_FofnABB_padding-bottom: 3px;
  --mixin-DIJf_FofnABB_padding-left: 6px;
  --mixin-DIJf_FofnABB_padding-right: 6px;
  --mixin-DIJf_FofnABB_padding-top: 3px;
  --mixin-DIJf_FofnABB_white-space: pre-wrap;
  --mixin-NjI1S9V2s_Pj_display: flex;
  --mixin-NjI1S9V2s_Pj_flex-direction: column;
  --mixin-NjI1S9V2s_Pj_align-items: stretch;
  --mixin-NjI1S9V2s_Pj_justify-content: flex-start;
  --mixin-NjI1S9V2s_Pj_list-style-position: outside;
  --mixin-NjI1S9V2s_Pj_padding-left: 40px;
  --mixin-NjI1S9V2s_Pj_position: relative;
  --mixin-NjI1S9V2s_Pj_list-style-type: disc;
  --mixin-NjI1S9V2s_Pj_white-space: pre-wrap;
  --mixin--Fz73GPzvNJe_display: flex;
  --mixin--Fz73GPzvNJe_flex-direction: column;
  --mixin--Fz73GPzvNJe_align-items: stretch;
  --mixin--Fz73GPzvNJe_justify-content: flex-start;
  --mixin--Fz73GPzvNJe_list-style-position: outside;
  --mixin--Fz73GPzvNJe_padding-left: 40px;
  --mixin--Fz73GPzvNJe_position: relative;
  --mixin--Fz73GPzvNJe_list-style-type: decimal;
  --mixin--Fz73GPzvNJe_white-space: pre-wrap;
  --mixin-okPfyCuabBed_color: #000000;
  --mixin-okPfyCuabBed_font-size: 20px;
  --mixin-okPfyCuabBed_font-weight: 600;
  --mixin-okPfyCuabBed_line-height: 1.5;
  --mixin-okPfyCuabBed_white-space: pre-wrap;
  --mixin-N2NHQ_c79d18_color: #000000;
  --mixin-N2NHQ_c79d18_font-size: 16px;
  --mixin-N2NHQ_c79d18_font-weight: 600;
  --mixin-N2NHQ_c79d18_line-height: 1.5;
  --mixin-N2NHQ_c79d18_white-space: pre-wrap;
  --mixin-iPRFNy2QAd4A_color: #3291ff;
  --mixin-iPRFNy2QAd4A_white-space: pre-wrap;
  --mixin-bFNPsAa22x17_white-space: pre-wrap;
  --mixin-nEiK9gXE5dw4_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_default_styles {
    --mixin-1-EG1vyUAJjP_font-size: 48px;
    --mixin-1-EG1vyUAJjP_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-H_1NklKde37Q_white-space: pre-wrap;
  --plasmic-mixin-input-home-page_white-space: var(
    --mixin-H_1NklKde37Q_white-space
  );
  --mixin-5t0jGNfREgXG_white-space: pre-wrap;
  --plasmic-mixin-input-mobile_white-space: var(
    --mixin-5t0jGNfREgXG_white-space
  );
  --mixin-xZpnQuoKg1es_white-space: pre-wrap;
  --plasmic-mixin-button-home-page_white-space: var(
    --mixin-xZpnQuoKg1es_white-space
  );
  --mixin-FplqDuGuHJeg_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-FplqDuGuHJeg_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-wvrN6qTZTx0r_font-family);
  font-size: var(--mixin-wvrN6qTZTx0r_font-size);
  font-weight: var(--mixin-wvrN6qTZTx0r_font-weight);
  font-style: var(--mixin-wvrN6qTZTx0r_font-style);
  color: var(--mixin-wvrN6qTZTx0r_color);
  text-align: var(--mixin-wvrN6qTZTx0r_text-align);
  text-transform: var(--mixin-wvrN6qTZTx0r_text-transform);
  line-height: var(--mixin-wvrN6qTZTx0r_line-height);
  letter-spacing: var(--mixin-wvrN6qTZTx0r_letter-spacing);
  white-space: var(--mixin-wvrN6qTZTx0r_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-1-EG1vyUAJjP_color);
  font-weight: var(--mixin-1-EG1vyUAJjP_font-weight);
  font-size: var(--mixin-1-EG1vyUAJjP_font-size);
  line-height: var(--mixin-1-EG1vyUAJjP_line-height);
  letter-spacing: var(--mixin-1-EG1vyUAJjP_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-x_qO63GBB6iq_color);
  font-size: var(--mixin-x_qO63GBB6iq_font-size);
  font-weight: var(--mixin-x_qO63GBB6iq_font-weight);
  letter-spacing: var(--mixin-x_qO63GBB6iq_letter-spacing);
  line-height: var(--mixin-x_qO63GBB6iq_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-KHspkmzfVEFl_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-AULnqe-Fp3AK_color);
  font-size: var(--mixin-AULnqe-Fp3AK_font-size);
  font-weight: var(--mixin-AULnqe-Fp3AK_font-weight);
  line-height: var(--mixin-AULnqe-Fp3AK_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-RFg81wfSKnYq_color);
  font-size: var(--mixin-RFg81wfSKnYq_font-size);
  font-weight: var(--mixin-RFg81wfSKnYq_font-weight);
  line-height: var(--mixin-RFg81wfSKnYq_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7hA0zNQeSXQw_font-family);
  border-radius: var(--mixin-7hA0zNQeSXQw_border-top-left-radius)
    var(--mixin-7hA0zNQeSXQw_border-top-right-radius)
    var(--mixin-7hA0zNQeSXQw_border-bottom-right-radius)
    var(--mixin-7hA0zNQeSXQw_border-bottom-left-radius);
  padding: var(--mixin-7hA0zNQeSXQw_padding-top)
    var(--mixin-7hA0zNQeSXQw_padding-right)
    var(--mixin-7hA0zNQeSXQw_padding-bottom)
    var(--mixin-7hA0zNQeSXQw_padding-left);
  border-top: var(--mixin-7hA0zNQeSXQw_border-top-width)
    var(--mixin-7hA0zNQeSXQw_border-top-style)
    var(--mixin-7hA0zNQeSXQw_border-top-color);
  border-right: var(--mixin-7hA0zNQeSXQw_border-right-width)
    var(--mixin-7hA0zNQeSXQw_border-right-style)
    var(--mixin-7hA0zNQeSXQw_border-right-color);
  border-bottom: var(--mixin-7hA0zNQeSXQw_border-bottom-width)
    var(--mixin-7hA0zNQeSXQw_border-bottom-style)
    var(--mixin-7hA0zNQeSXQw_border-bottom-color);
  border-left: var(--mixin-7hA0zNQeSXQw_border-left-width)
    var(--mixin-7hA0zNQeSXQw_border-left-style)
    var(--mixin-7hA0zNQeSXQw_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-a3CyN7hhxyck_color);
  padding-left: var(--mixin-a3CyN7hhxyck_padding-left);
  border-left: var(--mixin-a3CyN7hhxyck_border-left-width)
    var(--mixin-a3CyN7hhxyck_border-left-style)
    var(--mixin-a3CyN7hhxyck_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-DIJf_FofnABB_font-family);
  border-radius: var(--mixin-DIJf_FofnABB_border-top-left-radius)
    var(--mixin-DIJf_FofnABB_border-top-right-radius)
    var(--mixin-DIJf_FofnABB_border-bottom-right-radius)
    var(--mixin-DIJf_FofnABB_border-bottom-left-radius);
  padding: var(--mixin-DIJf_FofnABB_padding-top)
    var(--mixin-DIJf_FofnABB_padding-right)
    var(--mixin-DIJf_FofnABB_padding-bottom)
    var(--mixin-DIJf_FofnABB_padding-left);
  border-top: var(--mixin-DIJf_FofnABB_border-top-width)
    var(--mixin-DIJf_FofnABB_border-top-style)
    var(--mixin-DIJf_FofnABB_border-top-color);
  border-right: var(--mixin-DIJf_FofnABB_border-right-width)
    var(--mixin-DIJf_FofnABB_border-right-style)
    var(--mixin-DIJf_FofnABB_border-right-color);
  border-bottom: var(--mixin-DIJf_FofnABB_border-bottom-width)
    var(--mixin-DIJf_FofnABB_border-bottom-style)
    var(--mixin-DIJf_FofnABB_border-bottom-color);
  border-left: var(--mixin-DIJf_FofnABB_border-left-width)
    var(--mixin-DIJf_FofnABB_border-left-style)
    var(--mixin-DIJf_FofnABB_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-NjI1S9V2s_Pj_display);
  flex-direction: var(--mixin-NjI1S9V2s_Pj_flex-direction);
  align-items: var(--mixin-NjI1S9V2s_Pj_align-items);
  justify-content: var(--mixin-NjI1S9V2s_Pj_justify-content);
  list-style-position: var(--mixin-NjI1S9V2s_Pj_list-style-position);
  padding-left: var(--mixin-NjI1S9V2s_Pj_padding-left);
  position: var(--mixin-NjI1S9V2s_Pj_position);
  list-style-type: var(--mixin-NjI1S9V2s_Pj_list-style-type);
  flex-column-gap: var(--mixin-NjI1S9V2s_Pj_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin--Fz73GPzvNJe_display);
  flex-direction: var(--mixin--Fz73GPzvNJe_flex-direction);
  align-items: var(--mixin--Fz73GPzvNJe_align-items);
  justify-content: var(--mixin--Fz73GPzvNJe_justify-content);
  list-style-position: var(--mixin--Fz73GPzvNJe_list-style-position);
  padding-left: var(--mixin--Fz73GPzvNJe_padding-left);
  position: var(--mixin--Fz73GPzvNJe_position);
  list-style-type: var(--mixin--Fz73GPzvNJe_list-style-type);
  flex-column-gap: var(--mixin--Fz73GPzvNJe_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-okPfyCuabBed_color);
  font-size: var(--mixin-okPfyCuabBed_font-size);
  font-weight: var(--mixin-okPfyCuabBed_font-weight);
  line-height: var(--mixin-okPfyCuabBed_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-N2NHQ_c79d18_color);
  font-size: var(--mixin-N2NHQ_c79d18_font-size);
  font-weight: var(--mixin-N2NHQ_c79d18_font-weight);
  line-height: var(--mixin-N2NHQ_c79d18_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-iPRFNy2QAd4A_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
